<div class="container">
  <div class="row justify-content-center my-3">
    <div class="col-12">
      <h2 class="text-center">{{ 'TITLES.INGRESS_EGRESS' | translate }}</h2>
      <h6 *ngIf="items" class="text-center">{{items.length}} {{ 'TEXTS.REGISTERS' | translate }}</h6>
    </div>
  </div>

  <div *ngIf="!isLoading">

    <form [formGroup]="mainForm">
      <div class="form-row">

        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-6">
          <label>{{ 'PROPERTIES.START_DATE' | translate }}:</label>
          <input type="date" class="form-control" formControlName="startDate"
            [ngClass]="{'is-invalid': mainForm.get('startDate')?.touched && !mainForm.get('startDate')?.valid, 'is-valid': mainForm.get('startDate')?.touched && mainForm.get('startDate')?.valid}"
            (change)="changeFilter($event.target.value,'startDate')">
          <div class="invalid-feedback" *ngIf="isValidField('startDate')">
            {{ getErrorMessageField('startDate') }}
          </div>
        </div>

        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-6">
          <label>{{ 'PROPERTIES.END_DATE' | translate }}:</label>
          <input type="date" class="form-control" formControlName="endDate"
            [ngClass]="{'is-invalid': mainForm.get('endDate')?.touched && !mainForm.get('endDate')?.valid, 'is-valid': mainForm.get('endDate')?.touched && mainForm.get('endDate')?.valid}"
            (change)="changeFilter($event.target.value,'endDate')">
          <div class="invalid-feedback" *ngIf="isValidField('endDate')">
            {{ getErrorMessageField('endDate') }}
          </div>
        </div>
      </div>
    </form>

    <div class="row justify-content-center my-3">
      <div class="col-12">
        <button class="btn btn-dark mr-3" (click)="goBack()">{{ 'BUTTONS.BACK' | translate }}</button>
        <button class="btn btn-primary" (click)="goNew()">{{ 'BUTTONS.CREATE' | translate }}</button>
      </div>
    </div>
    <hr>

    <div *ngIf="items">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <input type="text" class="form-control" id="wordFilter" name="wordFilter" [(ngModel)]="wordFilter"
              placeholder="{{ 'TEXTS.SEARCH' | translate }}">
          </div>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">{{ 'PROPERTIES.TYPE' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.CATEGORY' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.DESCRIPTION' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.DATE' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.AMOUNT' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.STATE' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.EDIT' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.DELETE' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let item of items | orderBy : ['-typeActive','category','description'] | filterTableSearch: { typeActive: wordFilter, category: wordFilter, description: wordFilter, createDate: wordFilter, amount: wordFilter, stateText: wordFilter } : false">
                  <td>{{item.typeActive}}</td>
                  <td>{{item.category}}</td>
                  <td>{{item.description}}</td>
                  <td>{{item.createDate}}</td>
                  <td>{{item.amount | million:'1.2-2'}} {{currentUser?.currency}}</td>
                  <td><span class="badge"
                      [ngClass]="{'badge-success': item.state, 'badge-danger': !item.state}">{{item.stateText}}</span>
                  </td>
                  <td><button (click)="goEdit(item)" class="btn btn-info">{{ 'BUTTONS.EDIT' | translate }}</button></td>
                  <td><a href="#delete-item-{{item.id}}" class="btn btn-danger" data-toggle="modal">{{ 'BUTTONS.DELETE'
                      | translate }}</a></td>
                  <div class="modal fade" id="delete-item-{{item.id}}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">{{ 'TITLES.CONFIRMATION' | translate }}</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          {{ 'TEXTS.CONFIRMATION' | translate }}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'BUTTONS.CANCEL' |
                            translate }}</button>
                          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="goDelete(item)">{{
                            'BUTTONS.YES' |
                            translate }}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading" class="spinner">
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
      </div>
    </div>
  </div>
</div>
