<div *ngIf="!isLoading">

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ 'TEXTS.EARNINGS' | translate }}</h1>
  </div>


  <form [formGroup]="mainForm">
    <div class="form-row">

      <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-6">
        <label>{{ 'PROPERTIES.START_DATE' | translate }}:</label>
        <input type="date" class="form-control" formControlName="startDate"
          [ngClass]="{'is-invalid': mainForm.get('startDate')?.touched && !mainForm.get('startDate')?.valid, 'is-valid': mainForm.get('startDate')?.touched && mainForm.get('startDate')?.valid}"
          (change)="changeFilter($event.target.value,'startDate')">
        <div class="invalid-feedback" *ngIf="isValidField('startDate')">
          {{ getErrorMessageField('startDate') }}
        </div>
      </div>

      <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-6">
        <label>{{ 'PROPERTIES.END_DATE' | translate }}:</label>
        <input type="date" class="form-control" formControlName="endDate"
          [ngClass]="{'is-invalid': mainForm.get('endDate')?.touched && !mainForm.get('endDate')?.valid, 'is-valid': mainForm.get('endDate')?.touched && mainForm.get('endDate')?.valid}"
          (change)="changeFilter($event.target.value,'endDate')">
        <div class="invalid-feedback" *ngIf="isValidField('endDate')">
          {{ getErrorMessageField('endDate') }}
        </div>
      </div>
    </div>
  </form>




  <div *ngIf="items.length > 0">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 mb-4">
        <app-vertical-bar-chart [items]="items"></app-vertical-bar-chart>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 mb-4">
        <app-grouped-vertical-bar-chart [items]="items"></app-grouped-vertical-bar-chart>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card shadow h-100 py-2"
        [ngClass]="{'border-left-success': totalEarnings >= 0, 'border-left-danger': totalEarnings < 0 }">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-uppercase mb-1"
                [ngClass]="{'text-success': totalEarnings >= 0, 'text-danger': totalEarnings < 0 }">{{
                'TEXTS.EARNINGS_ANNUAL' |
                translate }}</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalEarnings | million:'1.2-2'}}
                {{currentUser?.currency}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div *ngFor="let item of items" class="row">

    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12 d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">{{item.name}}</h1>
        </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="row">
        <div *ngFor="let category of item.values" class="col-xl-3 col-md-6 mb-4">
          <div class="card shadow h-100 py-2"
            [ngClass]="{'border-left-success': item.name === 'Ingreso', 'border-left-danger': item.name === 'Egreso' }">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-uppercase mb-1"
                    [ngClass]="{'text-success': item.name === 'Ingreso', 'text-danger': item.name === 'Egreso' }">
                    {{category.name}}
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{category.values | amount:'amount' |
                    million:'1.2-2'}} {{currentUser?.currency}}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div *ngIf="isLoading" class="spinner">
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status"></div>
  </div>
</div>
