<div class="container-fluid">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-12">

      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">{{ 'TITLES.CLIENT' | translate }}</h1>
      </div>

      @if (!isLoading) {
      <div>
        <div class="card o-hidden border-0 my-5">
          <div class="card-body p-0">
            <div class="p-5">
              <form [formGroup]="mainForm" class="row g-3">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
                  <label for="firstName" class="form-label">{{ 'PROPERTIES.FIRSTNAME' | translate }}:</label>
                  <input type="text" class="form-control" formControlName="firstName" aria-label="firstName"
                    [ngClass]="{'is-invalid': mainForm.get('firstName')?.touched && !mainForm.get('firstName')?.valid, 'is-valid': mainForm.get('firstName')?.touched && mainForm.get('firstName')?.valid}">
                  @if (isValidField('firstName')) {
                  <div class="invalid-feedback">
                    {{ getErrorMessageField('firstName') }}
                  </div>
                  }
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
                  <label for="lastName" class="form-label">{{ 'PROPERTIES.LASTNAME' | translate }}:</label>
                  <input type="text" class="form-control" formControlName="lastName" aria-label="lastName"
                    [ngClass]="{'is-invalid': mainForm.get('lastName')?.touched && !mainForm.get('lastName')?.valid, 'is-valid': mainForm.get('lastName')?.touched && mainForm.get('lastName')?.valid}">
                  @if (isValidField('lastName')) {
                  <div class="invalid-feedback">
                    {{ getErrorMessageField('lastName') }}
                  </div>
                  }
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                  <label for="fullName" class="form-label">{{ 'PROPERTIES.FULLNAME' | translate }}:</label>
                  <input type="text" class="form-control" formControlName="fullName" aria-label="fullName"
                    [ngClass]="{'is-invalid': mainForm.get('fullName')?.touched && !mainForm.get('fullName')?.valid, 'is-valid': mainForm.get('fullName')?.touched && mainForm.get('fullName')?.valid}">
                  @if (isValidField('fullName')) {
                  <div class="invalid-feedback">
                    {{ getErrorMessageField('fullName') }}
                  </div>
                  }
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
                  <label for="documentType" class="form-label">{{ 'PROPERTIES.DOCUMENTTYPE' | translate }}:</label>
                  <select class="form-select" formControlName="documentType" aria-label="documentType"
                    [ngClass]="{'is-invalid': mainForm.get('documentType')?.touched && !mainForm.get('documentType')?.valid, 'is-valid':  mainForm.get('documentType')?.touched && mainForm.get('documentType')?.valid}">
                    <option value="" selected>{{ 'TEXTS.SELECT_AN_OPTION' | translate }}</option>
                    @for (item of documentTypeCombo$ | async; track item) {
                    <option [ngValue]="item.id">
                      {{item?.name}}</option>
                    }
                  </select>
                  @if (isValidField('documentType')) {
                  <div class="invalid-feedback">
                    {{ getErrorMessageField('documentType') }}
                  </div>
                  }
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
                  <label for="documentNumber" class="form-label">{{ 'PROPERTIES.DOCUMENTNUMBER' | translate }}:</label>
                  <input type="text" class="form-control" formControlName="documentNumber" aria-label="documentNumber"
                    [ngClass]="{'is-invalid': mainForm.get('documentNumber')?.touched && !mainForm.get('documentNumber')?.valid, 'is-valid': mainForm.get('documentNumber')?.touched && mainForm.get('documentNumber')?.valid}">
                  @if (isValidField('documentNumber')) {
                  <div class="invalid-feedback">
                    {{ getErrorMessageField('documentNumber') }}
                  </div>
                  }
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
                  <label for="phoneNumber" class="form-label">{{ 'PROPERTIES.PHONENUMBER' | translate }}:</label>
                  <input type="text" class="form-control" formControlName="phoneNumber" aria-label="phoneNumber"
                    [ngClass]="{'is-invalid': mainForm.get('phoneNumber')?.touched && !mainForm.get('phoneNumber')?.valid, 'is-valid': mainForm.get('phoneNumber')?.touched && mainForm.get('phoneNumber')?.valid}">
                  @if (isValidField('phoneNumber')) {
                  <div class="invalid-feedback">
                    {{ getErrorMessageField('phoneNumber') }}
                  </div>
                  }
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
                  <label for="city" class="form-label">{{ 'PROPERTIES.CITY' | translate }}:</label>
                  <input type="text" class="form-control" formControlName="city" aria-label="city"
                    [ngClass]="{'is-invalid': mainForm.get('city')?.touched && !mainForm.get('city')?.valid, 'is-valid': mainForm.get('city')?.touched && mainForm.get('city')?.valid}">
                  @if (isValidField('city')) {
                  <div class="invalid-feedback">
                    {{ getErrorMessageField('city') }}
                  </div>
                  }
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <label for="address" class="form-label">{{ 'PROPERTIES.ADRESS' | translate }}:</label>
                  <textarea class="form-control" formControlName="address" aria-label="address"
                    [ngClass]="{'is-invalid': mainForm.get('address')?.touched && !mainForm.get('address')?.valid, 'is-valid': mainForm.get('address')?.touched && mainForm.get('address')?.valid}"></textarea>
                  @if (isValidField('address')) {
                  <div class="invalid-feedback">
                    {{ getErrorMessageField('address') }}
                  </div>
                  }
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <label for="image" class="form-label">{{ 'PROPERTIES.PHOTO_URL' | translate }}:</label>
                  <input type="text" class="form-control" formControlName="image" aria-label="image"
                    [ngClass]="{'is-invalid': mainForm.get('image')?.touched && !mainForm.get('image')?.valid, 'is-valid': mainForm.get('image')?.touched && mainForm.get('image')?.valid}">
                  @if (isValidField('image')) {
                  <div class="invalid-feedback">
                    {{ getErrorMessageField('image') }}
                  </div>
                  }
                </div>
                <app-upload-file [showLoadButton]="true"></app-upload-file>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="state" formControlName="state"
                      aria-label="state"
                      [ngClass]="{'is-invalid': mainForm.get('state')?.touched && !mainForm.get('state')?.valid, 'is-valid': mainForm.get('state')?.touched && mainForm.get('state')?.valid}">
                    <label class="form-check-label" for="state">
                      {{ 'PROPERTIES.STATE' | translate }}
                    </label>
                    @if (isValidField('state')) {
                    <div class="invalid-feedback">
                      {{ getErrorMessageField('state') }}
                    </div>
                    }
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                  <div class="d-grid gap-2 col-12 mx-auto">
                    @if (!isLoading) {
                    <button type="button" aria-label="name" class="btn btn-primary"
                      (click)="onSubmit(createDate, createDateFB)" [disabled]="mainForm.invalid">
                      {{ 'BUTTONS.SAVE' | translate }}
                    </button>
                    }
                    @if (isLoading) {
                    <button type="button" aria-label="name" class="btn btn-primary">
                      <div class="spinner-border spinner-border-sm" role="status"></div>
                    </button>
                    }
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                  <div class="d-grid gap-2 col-12 mx-auto">
                    <button type="button" aria-label="name" class="btn btn-info" (click)="clean()">
                      {{ 'BUTTONS.CLEAN' | translate }}
                    </button>
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                  <div class="d-grid gap-2 col-12 mx-auto">
                    <button type="button" aria-label="name" class="btn btn-dark" (click)="goBack()">
                      {{ 'BUTTONS.BACK' | translate }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      }
      @if (isLoading) {
      <div>
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status"></div>
        </div>
      </div>
      }
    </div>
  </div>
