<div class="container">
  <div class="row justify-content-center my-3">
    <div class="col-12">
      <h2 class="text-center">{{ 'TITLES.PAYS' | translate }}</h2>
      @if (items) {
      <h6 class="text-center">{{(items | filterTableSearch: {
        displayName: wordFilter, documentNumber: wordFilter, phoneNumberArea:
        wordFilter, phoneNumber: wordFilter, payType: wordFilter, currency: wordFilter, createDate: wordFilter, amount:
        wordFilter, stateText: wordFilter, stateSolvency: wordFilter } :
        false).length}} {{ 'TEXTS.REGISTERS' | translate }}</h6>
      }
      <div class="text-center">
        <ul>
          @for (item of itemsGroup; track item) {
          <li class="list-group-item"><b>{{item.name}}: </b>{{item.values |
            filterTableSearch: { displayName: wordFilter, documentNumber: wordFilter,
            phoneNumberArea:
            wordFilter, phoneNumber: wordFilter, payType: wordFilter, currency: wordFilter, createDate: wordFilter,
            amount:
            wordFilter, stateText: wordFilter, stateSolvency: wordFilter } : false |
            amount:'amount' |
            customDecimal: systemDecimal: numberOfDecimal}}</li>
          }
        </ul>
      </div>
    </div>
  </div>

  <app-current-filter (rangeDateEmit)="rangeDateReceived($event)" (wordFilterEmit)="wordFilterReceived($event)"
    [wordFilterActive]="wordFilterActive"></app-current-filter>

  @if (!isLoading) {
  <div>
    <div class="d-grid gap-2 d-sm-flex mb-3">
      <button type="button" aria-label="name" class="btn btn-dark mr-3" (click)="goBack()">{{ 'BUTTONS.BACK' | translate
        }}</button>
      <button type="button" aria-label="name" class="btn btn-primary" (click)="goNew()">{{ 'BUTTONS.CREATE' | translate
        }}</button>
    </div>
    @if (items && currentUser) {
    <div>
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="table-responsive">
            <table class="table table-striped table-hover" aria-describedby="pays">
              <thead>
                <tr>
                  <th scope="col">{{ 'PROPERTIES.DISPLAY_NAME' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.DOCUMENTNUMBER' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.PHONE_NUMBER' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.PAY_TYPE' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.AMOUNT' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.LOCAL_CURRENCY' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.REFERENCE' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.DATE' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.STATE_SOLVENCY' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.STATE' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                @for (item of items | orderBy : ['-createDate','displayName'] | filterTableSearch: {
                displayName: wordFilter, documentNumber: wordFilter, phoneNumberArea:
                wordFilter, phoneNumber: wordFilter, payType: wordFilter, currency: wordFilter, createDate: wordFilter,
                amount:
                wordFilter, stateText: wordFilter, stateSolvency: wordFilter } : false; track item) {
                <tr class="cursor" (click)="goEdit(item)">
                  <td>{{item.displayName}}</td>
                  <td>{{item.documentType}}{{item.documentNumber}}</td>
                  <td>{{item.phoneNumberArea}}{{item.phoneNumber}}</td>
                  <td>{{item.payType}}</td>
                  <td>{{item.amount | customDecimal: systemDecimal: numberOfDecimal}}</td>
                  <td>{{item?.currency}}</td>
                  <td>{{item.reference}}</td>
                  <td>{{item.createDate | date : 'medium'}}</td>
                  <td><span class="badge"
                      [ngClass]="{'text-bg-success': item.idStateSolvency === 'SOL', 'text-bg-danger': item.idStateSolvency === 'PAY'}">{{item.stateSolvency}}</span>
                  </td>
                  <td><span class="badge"
                      [ngClass]="{'text-bg-success': item.state, 'text-bg-danger': !item.state}">{{item.stateText}}</span>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  }
  @if (isLoading) {
  <div class="spinner">
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
      </div>
    </div>
  </div>
  }
</div>
