<div class="container">
  <div class="row justify-content-center my-3">
    <div class="col-12">
      <h2 class="text-center">{{ 'TITLES.CATEGORY' | translate }}</h2>
      <h6 *ngIf="items" class="text-center">{{items.length}} {{ 'TEXTS.REGISTERS' | translate }}</h6>
    </div>
  </div>

  <app-current-filter (wordFilterEmit)="wordFilterReceived($event)" [wordFilterActive]="wordFilterActive"
    [showRangeDates]="false"></app-current-filter>

  <div *ngIf="!isLoading">
    <div class="d-grid gap-2 d-sm-flex mb-3">
      <button class="btn btn-dark mr-3" (click)="goBack()">{{ 'BUTTONS.BACK' | translate }}</button>
      <button class="btn btn-primary" (click)="goNew()">{{ 'BUTTONS.CREATE' | translate }}</button>
    </div>

    <div *ngIf="items">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="table-responsive">
            <table class="table table-striped table-hover" aria-describedby="categoria">
              <thead>
                <tr>
                  <th scope="col">{{ 'PROPERTIES.NAME' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.DESCRIPTION' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.STATE' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.EDIT' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.DELETE' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let item of items | orderBy : ['name'] | filterTableSearch: { name: wordFilter, description: wordFilter, stateText: wordFilter } : false">
                  <td>{{item.name}}</td>
                  <td>{{item.description}}</td>
                  <td><span class="badge"
                      [ngClass]="{'text-bg-success': item.state, 'text-bg-danger': !item.state}">{{item.stateText}}</span>
                  </td>
                  <td><button (click)="goEdit(item)" class="btn btn-info">{{ 'BUTTONS.EDIT' | translate }}</button></td>
                  <td><button (click)="openModal(item)" class="btn btn-danger">{{ 'BUTTONS.DELETE'
                      | translate }}</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading" class="spinner">
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
      </div>
    </div>
  </div>
</div>
