<!-- <nav class="navbar default-layout col-sm-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <a class="navbar-brand brand-logo">
      <img src="assets/images/logo.svg" alt="logo" />
    </a>
    <a class="navbar-brand brand-logo-mini">
      <img src="assets/images/logo-mini.svg" alt="logo" />
    </a>
  </div>
  
  <div class="navbar-menu-wrapper d-flex align-items-center">
   
    <ul class="navbar-nav navbar-nav-right">

      <li class="nav-item d-none d-sm-inline-block">
        <a class="nav-link" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
          <span *ngIf="user" class="profile-text">Hello, {{user.firstName}} !</span>
          <img class="img-xs rounded-circle" src="assets/images/faces/face1.jpg" alt="Profile image">
        </a>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-sm-none align-self-center" type="button" data-toggle="offcanvas">
      <span class="icon-menu"></span>
    </button>
  </div>
</nav> -->

<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">

    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span  *ngIf="user" class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.firstName}}</span>
        <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="#">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
          Profile
        </a>
        <a class="dropdown-item" href="#">
          <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
          Settings
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal" (click)="logout()">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Logout
        </a>
      </div>
    </li>

  </ul>

</nav>
<!-- End of Topbar -->