<div class="container-fluid">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-12">

      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">{{ 'TITLES.CATEGORY' | translate }}</h1>
      </div>

      <div *ngIf="!isLoading">
        <div class="card o-hidden border-0 my-5">
          <div class="card-body p-0">

            <div class="p-5">

              <form [formGroup]="mainForm" class="row g-3">

                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <label class="form-label">{{ 'PROPERTIES.NAME' | translate }}:</label>
                  <input type="text" class="form-control" aria-label="name" formControlName="name"
                    [ngClass]="{'is-invalid': mainForm.get('name')?.touched && !mainForm.get('name')?.valid, 'is-valid': mainForm.get('name')?.touched && mainForm.get('name')?.valid}">
                  <div class="invalid-feedback" *ngIf="isValidField('name')">
                    {{ getErrorMessageField('name') }}
                  </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <label class="form-label">{{ 'PROPERTIES.DESCRIPTION' | translate }}:</label>
                  <textarea class="form-control" formControlName="description" aria-label="description"
                    [ngClass]="{'is-invalid': mainForm.get('description')?.touched && !mainForm.get('description')?.valid, 'is-valid': mainForm.get('description')?.touched && mainForm.get('description')?.valid}"></textarea>
                  <div class="invalid-feedback" *ngIf="isValidField('description')">
                    {{ getErrorMessageField('description') }}
                  </div>
                </div>

                <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="form-check">
                    <input class="form-check-input" aria-label="state" type="checkbox" id="state" formControlName="state"
                      [ngClass]="{'is-invalid': mainForm.get('state')?.touched && !mainForm.get('state')?.valid, 'is-valid': mainForm.get('state')?.touched && mainForm.get('state')?.valid}">
                    <label class="form-check-label" for="state">
                      {{ 'PROPERTIES.STATE' | translate }}
                    </label>
                    <div class="invalid-feedback" *ngIf="isValidField('state')">
                      {{ getErrorMessageField('state') }}
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                  <div class="d-grid gap-2 col-12 mx-auto">
                    <button type="button" aria-label="name" *ngIf="!isLoading" class="btn btn-primary" (click)="onSubmit()"
                      [disabled]="mainForm.invalid">
                      {{ 'BUTTONS.SAVE' | translate }}
                    </button>
                    <button type="button" aria-label="name" *ngIf="isLoading" class="btn btn-primary">
                      <div class="spinner-border spinner-border-sm" role="status"></div>
                    </button>
                  </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                  <div class="d-grid gap-2 col-12 mx-auto">
                    <button type="button" aria-label="name" class="btn btn-info" (click)="clean()">
                      {{ 'BUTTONS.CLEAN' | translate }}
                    </button>
                  </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                  <div class="d-grid gap-2 col-12 mx-auto">
                    <button type="button" aria-label="name" class="btn btn-dark" (click)="goBack()">
                      {{ 'BUTTONS.BACK' | translate }}
                    </button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isLoading">
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status"></div>
        </div>
      </div>
    </div>
  </div>
</div>
