<div class="container-fluid">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-12">

      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">{{ 'TITLES.INGRESS_EGRESS' | translate }}</h1>
      </div>

      <div *ngIf="!isLoading">
        <div class="card o-hidden border-0 my-5">
          <div class="card-body p-0">

            <div class="p-5">

              <form [formGroup]="mainForm" class="row g-3">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <label class="form-label">{{ 'PROPERTIES.SELECT_AN_OPTION' | translate }}:</label>
                  <div class="form-check" *ngFor="let item of typeActiveCombo$ | async">
                    <input type="radio" class="form-check-input" formControlName="idTypeActive" aria-label="idTypeActive" value="{{item.code}}">
                    <label class="form-check-label">{{item?.name}}</label>
                  </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <label class="form-label">{{ 'PROPERTIES.CATEGORY' | translate }}:</label>
                  <select class="form-select" formControlName="idCategory" aria-label="idCategory"
                    [ngClass]="{'is-invalid': mainForm.get('idCategory')?.touched && !mainForm.get('idCategory')?.valid, 'is-valid':  mainForm.get('idCategory')?.touched && mainForm.get('idCategory')?.valid}">
                    <option value="" selected>{{ 'TEXTS.SELECT_AN_OPTION' | translate }}</option>
                    <option *ngFor="let item of categoryCombo$ | async" [ngValue]="item.id">
                      {{item?.name}}</option>
                  </select>
                  <div class="invalid-feedback" *ngIf="isValidField('idCategory')">
                    {{ getErrorMessageField('idCategory') }}
                  </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <label class="form-label">{{ 'PROPERTIES.DATE' | translate }}:</label>
                  <input type="date" class="form-control" formControlName="createDate" aria-label="createDate"
                    [ngClass]="{'is-invalid': mainForm.get('createDate')?.touched && !mainForm.get('createDate')?.valid, 'is-valid': mainForm.get('createDate')?.touched && mainForm.get('createDate')?.valid}">
                  <div class="invalid-feedback" *ngIf="isValidField('createDate')">
                    {{ getErrorMessageField('createDate') }}
                  </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <label class="form-label">{{ 'PROPERTIES.AMOUNT' | translate }}:</label>
                  <div class="input-group mb-3">
                    <span class="input-group-text">{{currentUser?.currency}}</span>
                    <input type="number" class="form-control" formControlName="amount" aria-label="amount"
                      [ngClass]="{'is-invalid': mainForm.get('amount')?.touched && !mainForm.get('amount')?.valid, 'is-valid': mainForm.get('amount')?.touched && mainForm.get('amount')?.valid}">
                    <div class="invalid-feedback" *ngIf="isValidField('amount')">
                      {{ getErrorMessageField('amount') }}
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <label class="form-label">{{ 'PROPERTIES.DESCRIPTION' | translate }}:</label>
                  <textarea class="form-control" formControlName="description" aria-label="description"
                    [ngClass]="{'is-invalid': mainForm.get('description')?.touched && !mainForm.get('description')?.valid, 'is-valid': mainForm.get('description')?.touched && mainForm.get('description')?.valid}"></textarea>
                  <div class="invalid-feedback" *ngIf="isValidField('description')">
                    {{ getErrorMessageField('description') }}
                  </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="state" formControlName="state" aria-label="state"
                      [ngClass]="{'is-invalid': mainForm.get('state')?.touched && !mainForm.get('state')?.valid, 'is-valid': mainForm.get('state')?.touched && mainForm.get('state')?.valid}">
                    <label class="form-check-label" for="state">
                      {{ 'PROPERTIES.STATE' | translate }}
                    </label>
                    <div class="invalid-feedback" *ngIf="isValidField('state')">
                      {{ getErrorMessageField('state') }}
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                  <div class="d-grid gap-2 col-12 mx-auto">
                    <button type="button" aria-label="name" *ngIf="!isLoading" class="btn btn-primary" (click)="onSubmit(createDateFB)"
                      [disabled]="mainForm.invalid">
                      {{ 'BUTTONS.SAVE' | translate }}
                    </button>
                    <button type="button" aria-label="name" *ngIf="isLoading" class="btn btn-primary">
                      <div class="spinner-border spinner-border-sm" role="status"></div>
                    </button>
                  </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                  <div class="d-grid gap-2 col-12 mx-auto">
                    <button type="button" aria-label="name" class="btn btn-info" (click)="clean()">
                      {{ 'BUTTONS.CLEAN' | translate }}
                    </button>
                  </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                  <div class="d-grid gap-2 col-12 mx-auto">
                    <button type="button" aria-label="name" class="btn btn-dark" (click)="goBack()">
                      {{ 'BUTTONS.BACK' | translate }}
                    </button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isLoading">
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status"></div>
        </div>
      </div>
    </div>
  </div>
</div>
