<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="[ '/authenticated/home' ]">
    <div class="sidebar-brand-text mx-3">IngresoEgreso</div>
  </a>

  <hr class="sidebar-divider my-0">

  <li class="nav-item active">
    <a class="nav-link" [routerLink]="[ '/authenticated/home' ]">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>{{ 'ROUTERS.DASHBOARD' | translate }}</span></a>
  </li>

  <hr class="sidebar-divider">

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
      aria-controls="collapsePages">
      <i class="fas fa-fw fa-folder"></i>
      <span>{{ 'ROUTERS.CONFIGURATION' | translate }}</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" [routerLink]="[ '/authenticated/configuration/category' ]">{{ 'ROUTERS.CATEGORY' |
          translate }}</a>
        <a class="collapse-item" [routerLink]="[ '/authenticated/configuration/ingreso-egreso' ]">{{
          'ROUTERS.INGRESS_EGRESS' | translate }}</a>
      </div>
    </div>
  </li>

</ul>
