<div class="container-fluid">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-12">

      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Profile</h1>
      </div>

      <div *ngIf="!isLoading">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">

            <div class="p-5">

              <form [formGroup]="mainForm">
                <div class="form-row">

                  <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <label>DisplayName:</label>
                    <input type="text" class="form-control" formControlName="displayName"
                      [ngClass]="{'is-invalid': mainForm.get('displayName')?.touched && !mainForm.get('displayName')?.valid, 'is-valid': mainForm.get('displayName')?.touched && mainForm.get('displayName')?.valid}">
                    <div class="invalid-feedback" *ngIf="isValidField('displayName')">
                      {{ getErrorMessageField('displayName') }}
                    </div>
                  </div>

                  <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <label>PhoneNumber:</label>
                    <input type="text" class="form-control" formControlName="phoneNumber"
                      [ngClass]="{'is-invalid': mainForm.get('phoneNumber')?.touched && !mainForm.get('phoneNumber')?.valid, 'is-valid': mainForm.get('phoneNumber')?.touched && mainForm.get('phoneNumber')?.valid}">
                    <div class="invalid-feedback" *ngIf="isValidField('phoneNumber')">
                      {{ getErrorMessageField('phoneNumber') }}
                    </div>
                  </div>

                  <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <label>Local Currency:</label>
                    <input type="text" class="form-control" formControlName="currency"
                      [ngClass]="{'is-invalid': mainForm.get('currency')?.touched && !mainForm.get('currency')?.valid, 'is-valid': mainForm.get('currency')?.touched && mainForm.get('currency')?.valid}">
                    <div class="invalid-feedback" *ngIf="isValidField('currency')">
                      {{ getErrorMessageField('currency') }}
                    </div>
                  </div>

                  <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <label>PhotoURL:</label>
                    <input type="text" class="form-control" formControlName="photoURL"
                      [ngClass]="{'is-invalid': mainForm.get('photoURL')?.touched && !mainForm.get('photoURL')?.valid, 'is-valid': mainForm.get('photoURL')?.touched && mainForm.get('photoURL')?.valid}">
                    <div class="invalid-feedback" *ngIf="isValidField('photoURL')">
                      {{ getErrorMessageField('photoURL') }}
                    </div>
                  </div>

                  <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="input-group mb-3">

                      <div class="custom-file">
                        <input type="file" class="custom-file-input" (change)="changeFile($event)">
                        <label class="custom-file-label" for="inputGroupFile01">{{fileName}}</label>
                      </div>
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" (click)="uploadFile()"
                          [disabled]="currentFile === null">
                          <div *ngIf="!isLoadingAttachment">Upload</div>
                          <div *ngIf="isLoadingAttachment">
                            <div class="d-flex justify-content-center">
                              <div class="spinner-border spinner-border-sm" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                            </div>
                          </div>
                        </button>
                      </div>
                      <div class="invalid-feedback-custom" *ngIf="errorFiles">
                        {{ errorFiles }}
                      </div>
                    </div>
                  </div>


                  <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-4">
                    <button *ngIf="!isLoading" class="btn btn-primary btn-user btn-block" (click)="onSubmit()"
                      [disabled]="mainForm.invalid">
                      Save
                    </button>
                    <button *ngIf="isLoading" class="btn btn-primary btn-user btn-block">
                      <div class="spinner-border spinner-border-sm" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </button>
                  </div>

                  <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-4">
                    <button type="button" class="btn btn-secondary btn-user btn-block" (click)="clean()">
                      Clean
                    </button>
                  </div>

                  <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-4">
                    <button type="button" class="btn btn-info btn-user btn-block" (click)="goBack()">
                      Back
                    </button>
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isLoading">
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
