<div class="container-fluid">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-12">

      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">{{ 'TITLES.PROFILE' | translate }}</h1>
      </div>

      <div *ngIf="!isLoading">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">

            <div class="p-5">

              <form [formGroup]="mainForm">
                <div class="form-row">

                  <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <label>{{ 'PROPERTIES.DISPLAY_NAME' | translate }}:</label>
                    <input type="text" class="form-control" formControlName="displayName"
                      [ngClass]="{'is-invalid': mainForm.get('displayName')?.touched && !mainForm.get('displayName')?.valid, 'is-valid': mainForm.get('displayName')?.touched && mainForm.get('displayName')?.valid}">
                    <div class="invalid-feedback" *ngIf="isValidField('displayName')">
                      {{ getErrorMessageField('displayName') }}
                    </div>
                  </div>

                  <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <label>{{ 'PROPERTIES.PHONE_NUMBER' | translate }}:</label>
                    <input type="text" class="form-control" formControlName="phoneNumber"
                      [ngClass]="{'is-invalid': mainForm.get('phoneNumber')?.touched && !mainForm.get('phoneNumber')?.valid, 'is-valid': mainForm.get('phoneNumber')?.touched && mainForm.get('phoneNumber')?.valid}">
                    <div class="invalid-feedback" *ngIf="isValidField('phoneNumber')">
                      {{ getErrorMessageField('phoneNumber') }}
                    </div>
                  </div>

                  <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <label>{{ 'PROPERTIES.LOCAL_CURRENCY' | translate }}:</label>
                    <input type="text" class="form-control" formControlName="currency"
                      [ngClass]="{'is-invalid': mainForm.get('currency')?.touched && !mainForm.get('currency')?.valid, 'is-valid': mainForm.get('currency')?.touched && mainForm.get('currency')?.valid}">
                    <div class="invalid-feedback" *ngIf="isValidField('currency')">
                      {{ getErrorMessageField('currency') }}
                    </div>
                  </div>

                  <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <label>{{ 'PROPERTIES.STARTDAY' | translate }}:</label>
                    <select class="form-control" formControlName="dayStartDashboard"
                      [ngClass]="{'is-invalid': mainForm.get('dayStartDashboard')?.touched && !mainForm.get('dayStartDashboard')?.valid, 'is-valid':  mainForm.get('dayStartDashboard')?.touched && mainForm.get('dayStartDashboard')?.valid}">
                      <option value="null" selected>{{ 'TEXTS.SELECT_AN_OPTION' | translate }}</option>
                      <option *ngFor="let item of startDay$ | async" [ngValue]="item.id">
                        {{item?.name}}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="isValidField('dayStartDashboard')">
                      {{ getErrorMessageField('dayStartDashboard') }}
                    </div>
                  </div>

                  <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <label>{{ 'PROPERTIES.PHOTO_URL' | translate }}:</label>
                    <input type="text" class="form-control" formControlName="photoURL"
                      [ngClass]="{'is-invalid': mainForm.get('photoURL')?.touched && !mainForm.get('photoURL')?.valid, 'is-valid': mainForm.get('photoURL')?.touched && mainForm.get('photoURL')?.valid}">
                    <div class="invalid-feedback" *ngIf="isValidField('photoURL')">
                      {{ getErrorMessageField('photoURL') }}
                    </div>
                  </div>

                  <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <label>{{ 'PROPERTIES.UPLOAD_FILE' | translate }}:</label>
                    <div class="input-group mb-3">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" (change)="changeFile($event)">
                        <label class="custom-file-label" for="inputGroupFile01">{{fileName}}</label>
                      </div>
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" (click)="uploadFile()"
                          [disabled]="currentFile === null">
                          <div *ngIf="!isLoadingAttachment">{{ 'BUTTONS.UPLOAD' | translate }}</div>
                          <div *ngIf="isLoadingAttachment">
                            <div class="d-flex justify-content-center">
                              <div class="spinner-border spinner-border-sm" role="status"></div>
                            </div>
                          </div>
                        </button>
                      </div>
                      <div class="invalid-feedback-custom" *ngIf="errorFiles">
                        {{ errorFiles }}
                      </div>
                    </div>
                  </div>


                  <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-4">
                    <button *ngIf="!isLoading" class="btn btn-primary btn-user btn-block" (click)="onSubmit()"
                      [disabled]="mainForm.invalid">
                      {{ 'BUTTONS.SAVE' | translate }}
                    </button>
                    <button *ngIf="isLoading" class="btn btn-primary btn-user btn-block">
                      <div class="spinner-border spinner-border-sm" role="status"></div>
                    </button>
                  </div>

                  <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-4">
                    <button type="button" class="btn btn-secondary btn-user btn-block" (click)="clean()">
                      {{ 'BUTTONS.CLEAN' | translate }}
                    </button>
                  </div>

                  <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-4">
                    <button type="button" class="btn btn-info btn-user btn-block" (click)="goBack()">
                      {{ 'BUTTONS.BACK' | translate }}
                    </button>
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isLoading">
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status"></div>
        </div>
      </div>
    </div>
  </div>
</div>
