<div class="container-fluid">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-12">

      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">{{ 'TITLES.PROFILE' | translate }}</h1>
      </div>

      @if (!isLoading) {
      <div>
        <div class="card o-hidden border-0">
          <div class="card-body p-0">
            <form [formGroup]="mainForm" class="row g-3">

              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
                <label for="displayName" class="form-label">{{ 'PROPERTIES.DISPLAY_NAME' | translate }}:</label>
                <input type="text" class="form-control" formControlName="displayName" aria-label="displayName"
                  [ngClass]="{'is-invalid': mainForm.get('displayName')?.touched && !mainForm.get('displayName')?.valid, 'is-valid': mainForm.get('displayName')?.touched && mainForm.get('displayName')?.valid}">
                @if (isValidField('displayName')) {
                <div class="invalid-feedback">
                  {{ getErrorMessageField('displayName') }}
                </div>
                }
              </div>

              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <label for="phoneNumberArea" class="form-label">{{ 'PROPERTIES.PHONE_NUMBER_AREA' | translate
                  }}:</label>
                <select class="form-select" formControlName="phoneNumberArea" aria-label="phoneNumberArea"
                  [ngClass]="{'is-invalid': mainForm.get('phoneNumberArea')?.touched && !mainForm.get('phoneNumberArea')?.valid, 'is-valid':  mainForm.get('phoneNumberArea')?.touched && mainForm.get('phoneNumberArea')?.valid}">
                  <option value="" selected>{{ 'TEXTS.SELECT_AN_OPTION' | translate }}</option>
                  @for (item of phoneNumberAreaCombo$; track item) {
                  <option [ngValue]="item.id">
                    {{item?.name}}</option>
                  }
                </select>
                @if (isValidField('phoneNumberArea')) {
                <div class="invalid-feedback">
                  {{ getErrorMessageField('phoneNumberArea') }}
                </div>
                }
              </div>

              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <label for="phoneNumber" class="form-label">{{ 'PROPERTIES.PHONE_NUMBER' | translate }}:</label>
                <input appOnlyNumericInput type="number" class="form-control" formControlName="phoneNumber"
                  aria-label="phoneNumber"
                  [ngClass]="{'is-invalid': mainForm.get('phoneNumber')?.touched && !mainForm.get('phoneNumber')?.valid, 'is-valid': mainForm.get('phoneNumber')?.touched && mainForm.get('phoneNumber')?.valid}">
                @if (isValidField('phoneNumber')) {
                <div class="invalid-feedback">
                  {{ getErrorMessageField('phoneNumber') }}
                </div>
                }
              </div>

              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <label for="officialRate" class="form-label">{{ 'PROPERTIES.OFFICIAL_RATE' | translate }}:</label>
                <input appNumericInput type="number" class="form-control" formControlName="officialRate"
                  aria-label="officialRate"
                  [ngClass]="{'is-invalid': mainForm.get('officialRate')?.touched && !mainForm.get('officialRate')?.valid, 'is-valid': mainForm.get('officialRate')?.touched && mainForm.get('officialRate')?.valid}">
                @if (isValidField('officialRate')) {
                <div class="invalid-feedback">
                  {{ getErrorMessageField('officialRate') }}
                </div>
                }
              </div>

              <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <label for="dayStartDashboard" class="form-label">{{ 'PROPERTIES.START_DAY' | translate }}:</label>
                <select class="form-select" formControlName="dayStartDashboard" aria-label="dayStartDashboard"
                  [ngClass]="{'is-invalid': mainForm.get('dayStartDashboard')?.touched && !mainForm.get('dayStartDashboard')?.valid, 'is-valid':  mainForm.get('dayStartDashboard')?.touched && mainForm.get('dayStartDashboard')?.valid}">
                  <option value="" selected>{{ 'TEXTS.SELECT_AN_OPTION' | translate }}</option>
                  @for (item of startDayCombo$; track item) {
                  <option [ngValue]="item.id">
                    {{item?.name}}</option>
                  }
                </select>
                @if (isValidField('dayStartDashboard')) {
                <div class="invalid-feedback">
                  {{ getErrorMessageField('dayStartDashboard') }}
                </div>
                }
              </div>

              <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <label for="currency" class="form-label">{{ 'PROPERTIES.LOCAL_CURRENCY' | translate
                  }}:</label>
                <select class="form-select" formControlName="currency" aria-label="currency"
                  [ngClass]="{'is-invalid': mainForm.get('currency')?.touched && !mainForm.get('currency')?.valid, 'is-valid':  mainForm.get('currency')?.touched && mainForm.get('currency')?.valid}">
                  <option value="" selected>{{ 'TEXTS.SELECT_AN_OPTION' | translate }}</option>
                  @for (item of currencyCombo$; track item) {
                  <option [ngValue]="item.id">
                    {{item?.name}}</option>
                  }
                </select>
                @if (isValidField('currency')) {
                <div class="invalid-feedback">
                  {{ getErrorMessageField('currency') }}
                </div>
                }
              </div>

              <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <label for="numberOfDecimal" class="form-label">{{ 'PROPERTIES.NUMBER_DECIMAL' | translate }}:</label>
                <select class="form-select" formControlName="numberOfDecimal" aria-label="numberOfDecimal"
                  [ngClass]="{'is-invalid': mainForm.get('numberOfDecimal')?.touched && !mainForm.get('numberOfDecimal')?.valid, 'is-valid':  mainForm.get('numberOfDecimal')?.touched && mainForm.get('numberOfDecimal')?.valid}">
                  <option value="" selected>{{ 'TEXTS.SELECT_AN_OPTION' | translate }}</option>
                  @for (item of numberOfDecimalCombo$; track item) {
                  <option [ngValue]="item.id">
                    {{item?.name}}</option>
                  }
                </select>
                @if (isValidField('numberOfDecimal')) {
                <div class="invalid-feedback">
                  {{ getErrorMessageField('numberOfDecimal') }}
                </div>
                }
              </div>

              <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <label for="systemDecimal" class="form-label">{{ 'PROPERTIES.SYSTEM_DECIMAL' | translate }}:</label>
                <select class="form-select" formControlName="systemDecimal" aria-label="systemDecimal"
                  [ngClass]="{'is-invalid': mainForm.get('systemDecimal')?.touched && !mainForm.get('systemDecimal')?.valid, 'is-valid':  mainForm.get('systemDecimal')?.touched && mainForm.get('systemDecimal')?.valid}">
                  <option value="" selected>{{ 'TEXTS.SELECT_AN_OPTION' | translate }}</option>
                  @for (item of systemDecimalCombo$; track item) {
                  <option [ngValue]="item.id">
                    {{item?.name}}</option>
                  }
                </select>
                @if (isValidField('systemDecimal')) {
                <div class="invalid-feedback">
                  {{ getErrorMessageField('systemDecimal') }}
                </div>
                }
              </div>

              <app-upload-file [showLoadButton]="true" [label]="'PROPERTIES.PHOTO_PROFILE'"></app-upload-file>

              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                <div class="d-grid gap-2 col-12 mx-auto">
                  @if (!isLoading) {
                  <button type="button" aria-label="name" class="btn btn-primary" (click)="onSubmit()"
                    [disabled]="mainForm.invalid">
                    {{ 'BUTTONS.SAVE' | translate }}
                  </button>
                  }
                  @if (isLoading) {
                  <button type="button" aria-label="name" class="btn btn-primary">
                    <div class="spinner-border spinner-border-sm" role="status"></div>
                  </button>
                  }
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                <div class="d-grid gap-2 col-12 mx-auto">
                  <button type="button" aria-label="name" class="btn btn-info" (click)="clean()">
                    {{ 'BUTTONS.CLEAN' | translate }}
                  </button>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                <div class="d-grid gap-2 col-12 mx-auto">
                  <button type="button" aria-label="name" class="btn btn-dark" (click)="goBack()">
                    {{ 'BUTTONS.BACK' | translate }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      }
      @if (isLoading) {
      <div>
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status"></div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
