<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-3"></div>
    <div class="col-sm-12 col-md-6">
      <div class="card o-hidden border-0 my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-12">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">{{ 'TITLES.FORGOT_PASSWORD' | translate }}</h1>
                </div>
                <form class="user" #mainForm="ngForm">
                  <div class="mb-3">
                    <input type="email"
                      [ngClass]="{'is-invalid': validationEmail.touched && !validationEmail.valid, 'is-valid': validationEmail.touched && validationEmail.valid}"
                      class="form-control form-control-user" name="email" aria-label="email" #validationEmail="ngModel"
                      placeholder="Email" [ngModel]="email()" (ngModelChange)="email.set($event)" required
                      pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">

                    @if (validationEmail.touched && !validationEmail.valid) {
                    <div class="invalid-feedback">
                      @if (validationEmail.errors.required) {
                      <div>{{ 'VALIDATIONS.REQUIRED' | translate }}</div>
                      }
                      @if (validationEmail.errors.pattern) {
                      <div>{{ 'VALIDATIONS.EMAIL' | translate }}</div>
                      }
                    </div>
                    }

                  </div>

                  <div class="mb-3">
                    <div class="d-grid gap-2">
                      @if (!isLoading) {
                      <button type="submit" class="btn btn-primary btn-user btn-block" [disabled]="mainForm.invalid"
                        (click)="onSubmit()">
                        {{ 'BUTTONS.SEND_EMAIL' | translate }}
                      </button>
                      }
                      @if (isLoading) {
                      <button type="button" aria-label="name" class="btn btn-primary btn-user btn-block">
                        <div class="spinner-border spinner-border-sm" role="status"></div>
                      </button>
                      }
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="text-center">
                      <a class="small" [routerLink]="[ '/login' ]">{{ 'TEXTS.BACK_LOGIN' | translate }}</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3"></div>
  </div>
</div>
