.cursor {
  cursor: pointer;
}

.btn-primary {
  color: #fff !important;
}

.img-profile {
  height: 30px !important;
  width: 30px !important;
  border: 2px solid hsla(0, 0%, 100%, .8) !important;
  border-radius: 50%;
}

#content {
  margin-top: 2em;
}
