html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

.cursor {
  cursor: pointer;
}

.btn-info {
  color: #fff !important;
}

.img-profile {
  height: 30px !important;
  width: 30px !important;
  border: 2px solid hsla(0, 0%, 100%, .8) !important;
  border-radius: 50%;
}

#content {
  margin-top: 2em;
}

.invalid-feedback-custom {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #e74a3b;
}

.card-link {
  color: #000;
}

.card-link:hover {
  color: #0d6efd;
}

.border-none {
  border: none !important;
}

@media (max-width: 992px) {
  .charts-advanced-pie-chart>div {
    width: 100% !important;
    height: 100% !important;
  }

  .charts-advanced-pie-chart .advanced-pie {
    display: block !important;
    float: none !important;
    margin: auto !important;
  }

  .charts-advanced-pie-chart .advanced-pie-legend-wrapper {
    width: 100% !important;
    height: 180px !important;
  }

}

@media (min-width: 993px) {
  .charts-advanced-pie-chart>div {

    height: 250px !important;
  }
}
