<div class="container">
  <div class="row justify-content-center my-3">
    <div class="col-12">
      <h2 class="text-center">{{ 'TITLES.CLIENT' | translate }}</h2>
      @if (items) {
      <h6 class="text-center">{{(items | filterTableSearch: { firstName: wordFilter, lastName: wordFilter,
        documentType: wordFilter, documentNumber: wordFilter, phoneNumber: wordFilter, city: wordFilter, address:
        wordFilter, stateText: wordFilter } : false).length}} {{ 'TEXTS.REGISTERS' | translate }}</h6>
      }
    </div>
  </div>

  <app-current-filter (wordFilterEmit)="wordFilterReceived($event)" [wordFilterActive]="wordFilterActive"
    [showRangeDates]="false"></app-current-filter>

  @if (!isLoading) {
  <div>
    <div class="d-grid gap-2 d-sm-flex mb-3">
      <button type="button" aria-label="name" class="btn btn-dark mr-3" (click)="goBack()">{{ 'BUTTONS.BACK' | translate
        }}</button>
      <button type="button" aria-label="name" class="btn btn-primary" (click)="goNew()">{{ 'BUTTONS.CREATE' | translate
        }}</button>
    </div>
    @if (items) {
    <div>
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="table-responsive">
            <table class="table table-striped table-hover" aria-describedby="client">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">{{ 'PROPERTIES.DETAIL' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.FIRSTNAME' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.LASTNAME' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.FULLNAME' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.DOCUMENTTYPE' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.DOCUMENTNUMBER' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.PHONE_NUMBER' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.CITY' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.ADRESS' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.DATE' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.STATE' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.EDIT' | translate }}</th>
                  <th scope="col">{{ 'PROPERTIES.DELETE' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                @for (item of items | orderBy : ['-createDate'] | filterTableSearch: { firstName: wordFilter, lastName:
                wordFilter, documentType: wordFilter, documentNumber: wordFilter, phoneNumber: wordFilter, city:
                wordFilter, address: wordFilter, stateText: wordFilter } : false; track item) {
                <tr>
                  <td><button type="button" aria-label="name" (click)="goShow(item)" class="btn btn-secondary">{{
                      'BUTTONS.DETAIL' | translate }}</button></td>
                  <td>{{item.firstName}}</td>
                  <td>{{item.lastName}}</td>
                  <td>{{item.fullName}}</td>
                  <td>{{item.documentType}}</td>
                  <td>{{item.documentNumber}}</td>
                  <td>{{item.phoneNumber}}</td>
                  <td>{{item.city}}</td>
                  <td>{{item.address}}</td>
                  <td>{{item.createDate | date : 'medium' }}</td>
                  <td><span class="badge"
                      [ngClass]="{'text-bg-success': item.state, 'text-bg-danger': !item.state}">{{item.stateText}}</span>
                  </td>
                  <td><button type="button" aria-label="name" (click)="goEdit(item)" class="btn btn-info">{{
                      'BUTTONS.EDIT' | translate }}</button></td>
                  <td><button type="button" aria-label="name" (click)="openModal(item)" class="btn btn-danger">{{
                      'BUTTONS.DELETE'
                      | translate }}</button></td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  }
  @if (isLoading) {
  <div class="spinner">
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
      </div>
    </div>
  </div>
  }
</div>
