<ng-container *ngIf="mainForm">
  <form [formGroup]="mainForm">
    <div class="form-row">
      <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-6">
        <label>{{ 'PROPERTIES.START_DATE' | translate }}:</label>
        <input type="date" class="form-control" formControlName="startDate"
          [ngClass]="{'is-invalid': mainForm.get('startDate')?.touched && !mainForm.get('startDate')?.valid, 'is-valid': mainForm.get('startDate')?.touched && mainForm.get('startDate')?.valid}"
          (change)="changeFilter($event.target.value,'startDate')">
        <div class="invalid-feedback" *ngIf="isValidField('startDate')">
          {{ getErrorMessageField('startDate') }}
        </div>
      </div>

      <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-6">
        <label>{{ 'PROPERTIES.END_DATE' | translate }}:</label>
        <input type="date" class="form-control" formControlName="endDate"
          [ngClass]="{'is-invalid': mainForm.get('endDate')?.touched && !mainForm.get('endDate')?.valid, 'is-valid': mainForm.get('endDate')?.touched && mainForm.get('endDate')?.valid}"
          (change)="changeFilter($event.target.value,'endDate')">
        <div class="invalid-feedback" *ngIf="isValidField('endDate')">
          {{ getErrorMessageField('endDate') }}
        </div>
      </div>
    </div>
  </form>
</ng-container>
